<div class="container mx-auto p-6">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
    @for (section of sections; track section.title) {
      <div>
        <h2
          [className]="['text-lg', 'font-bold', 'mb-4', section.color].join(' ')"
          class="text-lg font-bold mb-4">{{ section.title }}</h2>
        @if (section.data.length === 0) {
          <div class="flex flex-col items-center justify-center h-60 text-center text-gray-400">
            <svg width="40" height="40" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="mx-auto mb-2 text-gray-200">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2a4 4 0 018 0v2M5 11V9a7 7 0 0114 0v2M12 19a2 2 0 100-4 2 2 0 000 4z" />
            </svg>
            <p class="text-sm font-medium">Nenhum projeto aqui</p>
          </div>
        } @else {
          @for (project of section.data; track project.id) {
            <div class="bg-white rounded-lg shadow p-4 mb-4">
              <div class="flex justify-between items-center">
                <h3 class="font-semibold text-gray-800">{{ project.name }}</h3>
                <p class="text-gray-600 text-xs text-right">{{ project.startDate | date:'dd/MM/yyyy' }} - <span class="text-sm">{{(project.endDate | date:'dd/MM/yyyy') || '∞'}}</span></p>
              </div>
              <p class="text-gray-600 mb-2 text-xs ">Membros: {{  getMembersCount(project.teams) }}</p>
              <p class="text-gray-600 my-4">{{ project.description }}</p>
            </div>
          }
        }
      </div>
    }
  </div>
</div>
